/* Global Styles for Login Pages */
body {
    margin: 0 !important;
    padding: 0 !important; 
    font-family: Arial, sans-serif !important;
    background-image: url('login_background_image.avif') !important;
    background-color: #f7f7f7 !important;
    justify-content: center ;
    align-items: center ;
    min-height: 100vh !important;
}

.container {
    max-width: 400px !important;
    padding: 40px !important;
    background-color: white !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}

header {
    text-align: center !important;
    margin-bottom: 20px !important;
    font-size: 24px !important;
    color: #333 !important;
}

form {
    display: flex !important;
    flex-direction: column !important;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.forgot-password {
    color: #3498db;
    text-decoration: none;
    font-size: 14px;
}
