<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Food Supply Chain Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>
    <div class="container">
        <header>
            <h1>Smart Food Supply Chain Management System</h1>
        </header>
        <main>
            <div class="button-container">
                <a href="{{ url_for('customer_login') }}" class="dashboard-button">Customer</a>
                <a href="{{ url_for('supplier_login') }}" class="dashboard-button">Supplier</a>
                <a href="{{ url_for('distributor_login') }}" class="dashboard-button">Distributor</a>
            </div>
        </main>
    </div>
</body>
</html>
