{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
<div class="container">
    <header>
        <h1>Create Category</h1>
    </header>
    <main>
        <form method="post" action="/add/category">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Name" required>
            <br>
            <div class="button-container">
                <button type="Submit">Add Category</button>
            </div>
        </form>
    </main>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}